<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>petpar</display-name>

  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>

  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/PetPar</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <context-param>
    <param-name>addAnimal</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.AddAnimalHelper</param-value>
  </context-param>

  <context-param>
    <param-name>addUser</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.AddUserHelper</param-value>
  </context-param>

  <context-param>
    <param-name>addInstitution</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.AddInstitutionHelper</param-value>
  </context-param>

  <context-param>
    <param-name>institutionDonation</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.DonationSearchInstitutionHelper</param-value>
  </context-param>

  <context-param>
    <param-name>resultAdoption</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.InstitutionAnimalAdoptionHelper</param-value>
  </context-param>

  <context-param>
    <param-name>institutionLogin</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.InstitutionLoginHelper</param-value>
  </context-param>

  <context-param>
    <param-name>institutionAnimals</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.InstitutionSearchAnimalsHelper</param-value>
  </context-param>

  <context-param>
    <param-name>logout</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.LogoutHelper</param-value>
  </context-param>

  <context-param>
    <param-name>userAdoption</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.UserAnimalAdoptionHelper</param-value>
  </context-param>

  <context-param>
    <param-name>userDonate</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.UserDonateHelper</param-value>
  </context-param>

  <context-param>
    <param-name>userLogin</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.UserLoginHelper</param-value>
  </context-param>

  <context-param>
    <param-name>userAvailableAnimals</param-name>
    <param-value>br.edu.ifsp.arq.ads.petpar.servlets.helpers.UserSearchAnimalsHelper</param-value>
  </context-param>

</web-app>
